@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss' ;
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css?family=Aladin&display=swap');
@import'../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
// @import'../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

body{
   font-family: 'Aladin', cursive;
}
ul.socialIcons {
  padding: 0;
  text-align: center;
}
.socialIcons li {
  background: yellow;
  list-style: none;
  display: inline-block;
  margin: 15px;
  border-radius: 2em;
  overflow:hidden;
}
.socialIcons li a {
  display: block;
  padding: .5em;
  max-width: 2.3em;
  min-width: 2.3em;
  height: 2.3em;
  white-space: nowrap;
  line-height: 1.5em;
  transition:.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}
.socialIcons li i {
  margin-right:.5em;
}
.socialIcons li:hover a {
  max-width:200px;
  padding-right:1em;
}
.socialIcons .facebook {
  background: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
  background: #00aced;
  box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
  background: #cd486b;
  box-shadow: 0 0 16px #cd486b;
}
.LandingPage{
    height: 100vh;
}
.checkRadio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkRadio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkRadio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkRadio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkRadio .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


// chat page design 

  
li{
  list-style: none;
  div{
    background: white;
    border-radius: 1rem;
  }
}

.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
overflow-y: scroll  }

.card.chat-room{
  margin: 10px auto;
  border: none;
  height: 90vh;
}
.card.chat-room .members-panel-1 {
height: 70vh;
width: 30vw; 
}

.card.chat-room .chat-1 {
height: 70vh;
width: 70vw;
 }


.scrollbar-light-blue::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #007bff;
border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: rgb(224, 221, 221) }

.messenger{
  margin-bottom: 0;
}

.chat-1{
  background: white;
}

.bgReceivedMessage{
  background: rgba(211, 211, 211, 0.5);
}
.message-input {
  margin: 0 auto;
  position: absolute !important;
  bottom: 0 !important;
  width: 98%;
  z-index: 99;

}
.message-input .wrap {
  position: relative;
  
}
.message-input .wrap input {
  float: left;
  width: calc(100% - 3rem );
  padding: 1rem 0.3rem;
  height: 3rem;
}

.message-input .wrap button {
  float: right;
  width: 3rem;
  height: 3rem;
  padding: 12px 0;
 
  
}
.btn-outline-primary{
  background: white
}
.avatar{
  width: 4rem;
  border: 0.1rem solid #007bff;
  margin: 0.5rem;
  padding: 0.1rem;
  background: #007bff
}

  .nav-pills .show > .nav-link{
  background-color: #435f7a !important;

}

.scrollbar-light-blue{
  padding: 0 
}
.chatTab{
  top: 0;
  left: 0;
  border: 1px solid rgba(119, 116, 116, 0.548);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.deleteChatBtn{
  z-index: 1000 !important;
  overflow: hidden !important;
  padding: 1em 0.75rem;
  background: white;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  border: none;
  border-left: 1px solid rgba(119, 116, 116, 0.548);
  &:hover{
    background: red;
    border-radius: 1px;
  }
}
.modalUserToys{
  display: flex;
  flex-wrap: wrap
}


@media screen and (max-width:780px){
  .card.chat-room .members-panel-1 {
    height: 75vh;
    width: 20vw; 
    padding-right: 0.1rem !important;
    }
    
    .card.chat-room .chat-1 {height: 75vh;
    width: 80vw; }
  .toHide{
    padding: 0.1rem !important;
    div{
      display: none
    };
    .avatar{
      position: relative;
      width: 80%;
    }
     
  }
}